@charset 'utf-8';

/**
** 컴포넌트 코어
** 이미지, 백그라운드, 아이콘 등 이미지의 기본 단위
**/

/// 기본형
.mm_image {
	/// 이미지 없음
	&-none {
		position: relative;

		.ico_none:before {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #e2e2e2;
			font-size: 21px;
			@include transform(translate(-50%, -50%));
		}
	}
	///-- 이미지 없음
}
///-- 기본형

/// 프리로드
.mm_preload {
	// visibility: hidden;

	&.__preload-loaded,
	&.__preload-error {
		// visibility: inherit;
	}
}
///-- 프리로드

/// 백그라운드 이미지
.mm_bg {
	&-cover {
		background: transparent no-repeat 50% 50%;
		background-size: cover;
	}

	&-contain {
		background: transparent no-repeat 50% 50%;
		background-size: contain;
	}
}
///-- 백그라운드 이미지

/// 아이콘
.mm_ico {
	/// 카테고리
	&-category {
		width: 50px;
		height: 50px;
		background: url("../images/common/ico_category.png") no-repeat;

		$icons: '_woman_', '_man_', '_unisex_', '_underware_', '_kids_', '_leisure_', '_style_', '_life_';
		@each $icon in $icons {
			&[class*="#{$icon}"] {
				background-position-x: (-50px * (index($icons, $icon) - 1));
			}
		}

		&[class*="_all_"] {
			background: none;

			&:before {
				color: #54534c;
				font-size: 18px;
				font-family: $fontFamily_special;
				line-height: 50px;
				content: "ALL";

				[class*="__ie1"] & { line-height: 52px; }
			}
		}
	}
	///-- 카테고리
}
///-- 아이콘

/// exif orientation (정방형만 가능)
.mm_orientation {
	// 반전
	&-2 {
		@include transform(scaleX(-1));
	}
	// 180도
	&-3 {
		@include transform(rotate(180deg));
	}
	// 180도 + 반전
	&-4 {
		@include transform(rotate(180deg) scaleX(-1));
	}
	// -90도 + 반전
	&-5 {
		@include transform(rotate(-90deg) scaleX(-1));
	}
	// -90도
	&-6 {
		@include transform(rotate(90deg));
	}
	// 90도 + 반전
	&-7 {
		@include transform(rotate(90deg) scaleX(-1));
	}
	// 90도
	&-8 {
		@include transform(rotate(-90deg));
	}
}
///-- exif orientation
